html {
    scroll-behavior: smooth;
  }


body{
    background-image: linear-gradient(180deg, rgb(110, 17, 32), rgb(250, 33, 60), rgb(189, 118, 37));
    background-color: rgb(100, 10, 10);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    margin: 4%;
    text-align: center;

    

}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




.hlavni_proklik{
    background-color: rgba(54, 156, 122, 0.699);
    backdrop-filter:saturate(180%) blur(20px);
    border-radius: 25px;
    margin-bottom: 4%;
}

.hlavni_proklik a{
    text-decoration: none;
    color: black;
}

.nadpis{
    display: flex;
    background-color: rgba(107, 179, 155, 0.699);
    backdrop-filter:saturate(180%) blur(20px);
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

.nadpis:hover{
    background-color: rgba(78, 226, 177, 0.699);
}

.nadpis img{
    width: 109px;
    height: 109px;
    border-radius: 25px;
}

.nadpis h1{
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    
}

.hlavni_proklik ul{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding:0px;
    margin: 5px;
}

.hlavni_proklik li{
    margin: 15px;
    

}

.hlavni_proklik li a{
    font-size: 28px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-color: rgba(107, 179, 155, 0.699);
    border-radius: 25px;
    padding: 5px 50px;
    display:block;
    margin: auto 15% auto 15%;
    transition: all .2s ease-in-out;
}

.hlavni_proklik li a:hover{
    background-color: rgba(78, 226, 177, 0.699);

}

.kontent{
    background-color: rgba(207, 207, 207, 0.801);
    border-radius: 25px;
    backdrop-filter:saturate(180%) blur(20px);
    padding-bottom: 8px;
}

.uvod{
    background-color:rgba(255, 255, 255, 0.8) ;
    backdrop-filter:saturate(180%) blur(20px);
    border-radius: 25px;
    display: inline-block;
    margin: 8px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.uvod p{
    margin: 5%;
    font-size: 20px;
    text-align:left;
    
    
}


.obrazek1 img{
    float: left;
    width: 165px;
    border-radius: 25px;
    margin: 5%;
}


.adresa{
    background-color:rgba(255, 255, 255, 0.8) ;
    backdrop-filter:saturate(180%) blur(20px);
    border-radius: 25px;
    padding: 5px;
    margin-top: 15px;
    margin: 8px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.adresa h2{
    padding-top: 5px;
    margin: 10px 25px 0px 5px;
    margin-left: auto;
    margin-right: auto;

}

.adresa p{
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    margin-left: 15px;
}

.mapa iframe{
    border-radius: 20px;
    max-width: 100%;
    max-height: 300px;
}

.mapa{
    text-align: center;
    margin: 20px;

}

.oteviraci{
    background-color:rgba(255, 255, 255, 0.8) ;
    backdrop-filter:saturate(180%) blur(20px);
    border-radius: 25px;
    padding: 5px;
    margin: 15px 8px 8px 8px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.oteviraci img{
    display: hidden;
    max-width: 270px;
    border-radius: 25px;
    padding-top: 10px;
}

.oteviraci h2{
    padding-top: 5px;
    margin: 10px 25px 0px 5px;
    margin-left: auto;
    margin-right: auto;

}

.oteviraci p{
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    margin-left: 15px;
}



.oteviraci table{
    margin: 5px 10px 10px 15px;
    margin-left: auto;
    margin-right: auto;
}
.oteviraci table td{
    padding: 2px 10px;
}




.footer{
    text-align: center;
    background-color: rgba(207, 207, 207, 0.801);
    backdrop-filter:saturate(180%) blur(20px);
    border-radius: 25px;
    margin: 15px 25px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
}




.socialni .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
    transition: all .2s ease-in-out;
}
.socialni .fa:hover {
    transform: scale(1.1);
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background-image: linear-gradient(180deg, rgb(161, 16, 135), rgb(224, 66, 65), rgb(237, 185, 76));
    color: white;
}



@media screen and (min-width:700px) {
    
    .hlavni_proklik{
        max-width: 1350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .hlavni_proklik li a{
        margin: auto 35% auto 35%;
    }

    .kontent{
        max-width: 1350px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .obrazek1 img{
        width: 250px;
        margin: 20px;
    }

    .uvod{
        margin: 30px 30px 0 30px;
    }

    .adresa{
        margin: 30px;
        width: 645px;
        padding: 0 7.5px;
    }

    .oteviraci{
        margin: 30px 30px 20px 30px;
        display: flex;
        padding-left: auto;
        padding-right: auto;
        padding:0 7.5px;
        height: 425px;
        width: 645px;
    }


    .uvod p{
        margin: 20px;
    }

    body{
        margin: 20px;
    }

    .hlavni_proklik li{
        display: inline;
        margin: 15px;
        padding: 20px;
  
        
    }

    .footer{
        max-width: 1350px;
    }

    .oteviraci img{
        height: 180px;
        width: 270px;
        margin: 15px 15px 30px 30px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .tabulka{
        margin: 20px 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    
}

@media screen and (min-width:1400px) {
    .adresa{
        width: 600px;
    }
    
    .oteviraci{
        width: 600px;
    }
    
    .lokace{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    
    .oteviraci img{
        height: 180px;
        width: 270px;
        margin: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .tabulka{
        margin: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
}